@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.navBar {
  * {
    font-family: 'Sora';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  nav {
    background: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
  }
  
  .navBtn {
      
    display: flex;
    align-items: center;
    margin-right: 24px;
    
    @media screen and(max-width:768px) {
      display: none;
    }
  }
  
  .navMenu {
    display: flex;
    align-items: center;
    margin-right: -24px;
  
    @media screen and(max-width:768px) {
      display: none;
    }
  }
  
  .navBtnLink {
    border-radius: 4px;
    background-color: #256ce1;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
    text-decoration: none;
  
    &:hover {
      transition: all 0.2 ease-in-out;
      background-color: #fff;
      color: #010606;
    }
  }
  
  .bars {
    display: none;
    color: #fff;
  
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  
  .navLink {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
  
    &.active {
      color: #15cdfc;
    }
  }
}
